
services:
  client:
    build: ./frontend
    container_name: mern-client
    ports: ["3000:5173"]
    environment:
      - VITE_API_URL=http://localhost:5000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    depends_on: [server]

  server:
    build: ./backend
    container_name: mern-server
    ports: ["5000:5000"]
    volumes:
      - ./backend:/app
      - /app/node_modules         # avoid losing installed deps when bind-mounting
    environment:
      - MONGO_URI=mongodb://mongo:27017/explore_lanka_db
      - CLIENT_URL=http://localhost:3000
      - JWT_SECRET=2037tTQPG
      - PORT=5000
    depends_on: [mongo]

  admin-seeder:
    build: ./backend
    container_name: mern-admin-seeder
    command: node createAdmin.js
    environment:
      - MONGO_URI=mongodb://mongo:27017/explore_lanka_db
    depends_on: [mongo]

  mongo:
    image: mongo:latest
    container_name: mern-mongo
    ports: ["27017:27017"]
    volumes: [mongo-data:/data/db]

volumes:
  mongo-data:
