version: '3.8'

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80" 
    volumes:
      - /home/ubuntu/infra/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
  # -----------------------------------------

  frontend:
    image: ${DOCKERHUB_USERNAME}/explore-lanka-client:latest
    environment:
      - VITE_API_URL= 
    depends_on:
      - backend

  backend:
    image: ${DOCKERHUB_USERNAME}/explore-lanka-server:latest
    environment:
      - MONGO_URI=mongodb://mongo:27017/explore-lanka
      - JWT_SECRET=${JWT_SECRET}
      - NODE_ENV=production
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: