---
- name: Configure and Deploy Explore Lanka App
  hosts: webserver
  become: yes 

  vars:
    dockerhub_username: "theek237" 

  tasks:
    - name: Update apt packages
      apt:
        update_cache: yes

    - name: Install required system packages
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
        state: present

    - name: Add Docker's official GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker repository
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
        state: present

    - name: Install Docker
      apt:
        name: docker-ce
        state: present
        update_cache: yes

    - name: Install Docker Compose
      get_url:
        url: "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-Linux-x86_64"
        dest: /usr/local/bin/docker-compose
        mode: 'u+x,g+x,o+x'

    - name: Copy docker-compose.yml to the server
      copy:
        src: ../docker-compose.prod.yml 
        dest: /home/ubuntu/docker-compose.yml

    - name: Run docker-compose up
      shell: |
        export DOCKERHUB_USERNAME={{ dockerhub_username }}
        export JWT_SECRET=2003007abcrd
        docker-compose -f /home/ubuntu/docker-compose.yml pull 
        docker-compose -f /home/ubuntu/docker-compose.yml up -d
      args:
        chdir: /home/ubuntu/